# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.backup
**/*.tfvars
**/*.tfvars.json
**/*.log
**/crash.log
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/.terraform.lock.hcl

# Claves privadas
*.pem

# Sistemas operativos
.DS_Store
Thumbs.db
